<router-outlet name="navbar"></router-outlet>

<div>

  <body dir="{{'dir' | translate}}">
    <div class="row">
      <div class="col-sm"></div>
      <div class="container padding porder col-8 ">
        <form [formGroup]="form" novalidate (ngSubmit)="onSubmit()">
          <div>
            <h1 translate>Login</h1>
          </div>
          <div>
            <div toastContainer translate class="tauster"></div>
          </div>
          <div>
            <label class="{{ 'lblR' | translate }}">{{'Email' | translate}} </label>
            <input (focus)="message = '' " (focusout)="message='erroremail'" required class="form-control mr-sm-2" id="txtFirstname"
              type="text" placeholder="{{'email' | translate}}" aria-label="firstName" formControlName="email">
            <p class="required" *ngIf='!form.controls.email.valid'>
              {{message | translate}}
            </p>
          </div>
          <div>
            <label class="{{ 'lblR' | translate }}">{{'password' | translate}} </label>
            <input (focus)="message2 = '' " (focusout)="message2 = 'errorpassword'" required type="password" class="form-control mr-sm-2"
              id="txtLastname" placeholder="{{'password' | translate}}" aria-label="lastName" formControlName="password">
            <p class="required" *ngIf='!form.controls.password.valid'>
              {{message2 | translate}}
            </p>
          </div>
          <div>
            <input class="btn btn-secondary {{ 'lblR' | translate }} form-control mr-sm-2" type="submit" [disabled]="!form.valid" (focus)="message = ''; message2 = ''; message3 = ''; "
              value="{{'Login' | translate}}">
          </div>
        </form>
      </div>
      <div class="col-sm"></div>
    </div>
  </body>
</div>
