<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="navbar-brand">Demo</div>
  <button class="navbar-toggler navbar-toggler-right" type="button" 
  (click)="toggleCollapse()">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" [class.show]="show" id="navbarColor01">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" translate routerLink='/main'>Main Page</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" translate routerLink='/signup'>Signup</a>
      </li>
      <li class="nav-item">
        <a class="nav-link"  routerLink='/signupTwo'>{{ 'Signup' | translate }}2</a>
      </li>
      <li class="nav-item">
        <a class="nav-link"  routerLink='/chat'>{{ 'chat' | translate }}</a>
      </li>
    </ul>
    <div>
      <button class="btn btn-info" (click)="switchLanguage('en')">English</button>
      <button class="btn btn-info" (click)="switchLanguage('ar')">عربي</button>
    </div>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="text" placeholder="Search">
      <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>






<!--

<nav class="navbar navbar-dark bg-primary">
  <a class="navbar-brand" href="#">Navbar</a>
  <div class="navbar-nav" id="navbarColor01">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" translate href="main">Main Page</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" translate href="signup">Signup</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" translate href="navbar">navbar</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">About</a>
      </li>
    </ul>
    <div>
      <button class="btn btn-info" (click)="switchLanguage('en')">English</button>
    </div>
    <div class="padding">
      <button class="btn btn-info" (click)="switchLanguage('ar')">عربي</button>
    </div>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="text" placeholder="Search">
      <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>
-->
