<router-outlet name="navbar"></router-outlet>

<body dir="{{'dir' | translate}}">
  <div class="container padding porder ">
    <form [formGroup]="form" novalidate (ngSubmit)="onSubmit()">
      <div>
        <h1 translate>Signup</h1>
      </div>
      <div>
        <div toastContainer translate class="tauster"></div>
      </div>
      <div>
        <label class="{{ 'lblR' | translate }}">{{'First name' | translate}} </label>
        <input (focus)="message = '' " (focusout)="message='errorfname'" required class="form-control mr-sm-2" id="txtFirstname"
          type="text" placeholder="{{'First name' | translate}}" aria-label="firstName" formControlName="firstName">
        <p class="required" *ngIf='!form.controls.firstName.valid'>
          {{message | translate}}
        </p>
      </div>
      <div>
        <label class="{{ 'lblR' | translate }}">{{'Last name' | translate}} </label>
        <input (focus)="message2 = '' " (focusout)="message2 = 'errorlname'" required class="form-control mr-sm-2" id="txtLastname"
          type="text" placeholder="{{'Last name' | translate}}" aria-label="lastName" formControlName="lastName">
        <p class="required" *ngIf='!form.controls.lastName.valid'>
          {{message2 | translate}}
        </p>
      </div>
      <div>
        <label class="{{ 'lblR' | translate }}">{{'Email' | translate}}</label>
        <input (focus)="message3 = '' " (focusout)="message3='erroremail'" required class="form-control mr-sm-2" type="email" placeholder="{{'Email' | translate}}"
          id="txtEmail" aria-label="email" formControlName="email">
        <p class="required" *ngIf='!form.controls.email.valid'>
          {{message3 | translate}}
        </p>
      </div>
      <div>
        <label class="{{ 'lblR' | translate }}">{{'Phone' | translate}}</label>
        <input class="form-control mr-sm-2" (focus)="message4 = ''; NumericInput=true " (focusout)="message4='errorphone'; NumericInput=false"
          id="txtPhone" type="text" placeholder="{{'Phone' | translate}}" formControlName="mobile">
        <p class="required" *ngIf='!form.controls.mobile.valid'>
          {{message4 | translate}}
        </p>
      </div>
      <hr>
      <div>
        <label class="{{ 'lblR' | translate }}" for="txtEmail">{{'employee' | translate}}</label>
        <button type="button" class="btn btn-secondary " md-button (click)="toggle(true,'employee')">{{'Yes' | translate}}</button>
        <button type="button" class="btn btn-secondary " md-button (click)="toggle(false,'employee')">{{'No' | translate}}</button>
      </div>
      <div class="question-info" *ngIf="form.controls.employee.value">
        <div>
          <label class="{{ 'lblR' | translate }}">{{'company' | translate}}</label>
          <select class="form-control mr-sm-2" formControlName="company">
            <option value="" selected disabled hidden>{{'company' | translate}}</option>
            <option *ngFor="let company of companies">{{company | translate}}</option>
          </select>
        </div>
        <div>
          <label class="{{ 'lblR' | translate }}">{{'position' | translate}}</label>
          <select class="form-control mr-sm-2" formControlName="department">
            <option value="" selected disabled hidden>{{'position' | translate}}</option>
            <option *ngFor="let position of positions">{{position | translate}}</option>
          </select>
        </div>
      </div>
      <hr>
      <div>
        <label class="{{ 'lblR' | translate }}" for="txtEmail">{{'resident' | translate}}</label>
        <button type="button" class="btn btn-secondary " md-button (click)="toggle(true,'resident')">{{'Yes' | translate}}</button>
        <button type="button" class="btn btn-secondary " md-button (click)="toggle(false,'resident')">{{'No' | translate}}</button>
      </div>
      <div class="question-info" *ngIf="form.controls.resident.value">
        <div>
          <label class="{{ 'lblR' | translate }}">{{'residencyType' | translate}}</label>
          <select class="form-control mr-sm-2" formControlName="residency_type">
            <option value="" selected disabled hidden>{{'residencyType' | translate}}</option>
            <option *ngFor="let resType of residencyType">{{resType | translate}}</option>
          </select>
        </div>
        <div>
          <label class="{{ 'lblR' | translate }}">{{'nieghbourhood' | translate}}</label>
          <select class="form-control mr-sm-2" formControlName="neighbourhood_name">
            <option value="" selected disabled hidden>{{'nieghbourhood' | translate}}</option>
            <option *ngFor="let Nieghbourhood of nieghbourhoods">{{Nieghbourhood | translate}}</option>
          </select>
        </div>
        <div>
          <label class="{{ 'lblR' | translate }}">{{'buildingNumber' | translate}}</label>
          <select class="form-control mr-sm-2" formControlName="building_number">
            <option value="" selected disabled hidden> {{'buildingNumber' | translate}}</option>
            <option *ngFor="let Building of buildings">{{Building}}</option>
          </select>
        </div>
        <div>
          <label class="{{ 'lblR' | translate }}">{{'floorNumber' | translate}}</label>
          <select class="form-control mr-sm-2" formControlName="floor_number">
            <option value="" selected disabled hidden>{{'floorNumber' | translate}}</option>
            <option *ngFor="let Floor of floors">{{Floor}}</option>
          </select>
        </div>
        <div>
          <label class="{{ 'lblR' | translate }}">{{'apartmentNumber' | translate}}</label>
          <select class="form-control mr-sm-2" formControlName="apartment_number">
            <option value="" selected disabled hidden>{{'apartmentNumber' | translate}}</option>
            <option *ngFor="let Apartment of apartments">{{Apartment}}</option>
          </select>
        </div>
      </div>
      <div>
        <input class="btn btn-secondary {{ 'lblR' | translate }} form-control mr-sm-2" type="submit" [disabled]="!form.valid" (focus)="message = ''; message2 = ''; message3 = ''; "
          value="{{'submit' | translate}}">
      </div>
    </form>
  </div>
  <div>
  </div>
</body>
