.lblR {
  float: right;  
}
.message{
  float: right;  
  width: 100%;
}
div {
  margin-top: 5px;
  padding: 5px;
 
  //opacity: .8;
  h1 {
    text-align: center;
    margin-bottom: 50px;
  }
  select,
  input {
    border: 1px solid #1f61cc;
    border-radius: 20px;
  }
  .invalid {
    color: red;
  }
}

.padding {
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: #97a7c1;

  
}

.required {
  color: red;
}

.porder{
  border: 5px solid #1f61cc;
  border-radius: 30px;
}
h1,label{
  color: white;
}
.tauster{
  color: #27e850;
}