/* You can add global styles to this file, and also import other style files */
body{
    height: 100%;
    background-color:white;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;       
}
