div {
  text-align: center;
  .backColor {
    background-color: #62728c;
    text-align: center;
    color: white;
  }
  .hover {
    background-color: #3c434f;
    padding: 20px;
    margin: 10px;
    border: 5px solid;
    border-radius: 30px;
  }
}

div.hover:hover {
  background-color: black;
}

div.overflow {
  height: 300px;
  overflow-y: scroll;
}
