<router-outlet name="navbar"></router-outlet>

<div class="container">

  <body dir="{{'dir' | translate}}">
    <div class=" backColor row">
      <div class="col-sm"></div>
      <div class="col-sm">
        <div class="row">
          <h1 translate>Chat Room</h1>
        </div>
      </div>
      <div class="col-sm"></div>
    </div>
    <div class="row">
      <div class=" backColor col-sm">
        <div class="hover" *ngFor="let contact of contacts" (click)="onContactClick(contact)">{{contact}}</div>
      </div>
      <div class="col-sm ">

        <form [formGroup]="form" novalidate (ngSubmit)="sendMessageToContact('5af16237c0598c8065e73f82')" autocomplete="off">
          <div>
            <label class="{{ 'lblR' | translate }}">{{'Messages' | translate}} </label>
            <div class="overflow">

              <div *ngFor="let message of conversationHistory"> {{message}}</div>

            </div>
            <input required class="form-control mr-sm-2" id="txtFirstname" type="text" placeholder="{{'Messages' | translate}}" formControlName="message">
            <input class="btn btn-secondary {{ 'lblR' | translate }} form-control mr-sm-2" type="submit" [disabled]="!form.valid" (focus)="message = ''; message2 = ''; message3 = ''; "
              value="{{'send' | translate}}">
          </div>
        </form>
      </div>
      <div class=" backColor col-sm">
        <input class="btn btn-secondary {{ 'lblR' | translate }} form-control mr-sm-2" type="button" value="{{'Logout' | translate}}"
          (click)="logout()"> {{contact}}

      </div>
    </div>
    <div class=" backColor row">
      <p></p>
    </div>
  </body>
</div>
